fastapi
uvicorn[standard]

pydantic
pydantic-settings

SQLAlchemy
aiosqlite

python-dotenv
email-validator
orjson
httpx
requests

# AI stack
openai
groq
google-generativeai

langchain
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
langgraph
langgraph-sdk
langsmith

tiktoken
tenacity
